body{
    background: url(obrazy/svg/blob-scene-haikei.svg) no-repeat 0 0 fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

header{
    margin: 0 auto 0 auto;
    /* border: 1px solid black;*/
    min-width: 150px;
    max-width: 1000px;
    width: 350px;
    color: white;

}

header h1{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    
}

header p{
    margin: 0;
    padding: 5px;
    text-align: center;
}
main{
    margin: 100px auto 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.choose-menu{
    border: 1px solid black;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.choose-menu h3{

}

.mak-photo{
    background: url(../obrazy/PROMO.png) no-repeat;
    background-size: cover;
    color: black;
}


.contact-footer{
    margin: 0 auto 0 auto;
    /* border: 1px solid black;*/
    min-width: 150px;
    max-width: 1000px;
    width: 350px;
    color: white;
}
